<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>Base Converter</title>
    </head>
    <body class="vh-100 bg-white d-flex justify-content-center align-items-center">
        <div id="converter">
            <div class="input-group mb-3" >
              <div class="input-group-prepend">
                <span class="input-group-text" style="width: 150px;">Enter number</span>
              </div>
              <input v-model="number" type="text" class="form-control" style="width: 150px;" placeholder="1100" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text"  style="width: 150px;" for="inputGroupSelect01">From</label>
              </div>
              <select v-model="baseFrom" class="custom-select" style="width: 150px;">
                  <option v-for="option in baseOptions" v-bind:value="option.value">{{ option.text }}</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text"  style="width: 150px;" for="inputGroupSelect01">To</label>
              </div>
              <select v-model="baseTo" class="custom-select" style="width: 150px;">
                  <option v-for="option in targetBaseOptions" v-bind:value="option.value">{{ option.text }}</option>
              </select>
            </div>
            <div id="output">
                <button v-on:click="hello" type="button" style="width: 150px;" class="btn btn-success">convert</button>
                <span class="ms-2 text-center" id="result">
                    ({{ number}}) <sub>{{ baseFrom}}</sub> = ({{ result }}) <sub>{{ baseTo }}</sub>  
                </span>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="app.js"></script>
    </body>
</html>
